body {
  background-color: #161616;
}

/* Clipart */
.showrocket {
  float: left;
  width: 30px;
  height: 160px;
  animation: appear 4s;
  background-image: url("/static/soyuz.png");
  background-size: 30px 160px;
}
.showasteroid {
  float: left;
  width: 150px;
  height: 108px;
  animation: appear 4s;
  background-image: url("/static/asteroid.jpg");
  background-size: 150px 108px;
}
.showcosmonaut {
  float: left;
  width: 111px;
  height: 111px;
  animation: appear 4s;
  background-image: url("/static/cosmonaut.png");
  background-size: 111px 111px;
}
.showshuttle {
  float: left;
  width: 150px;
  height: 72px;
  animation: appear 4s;
  background-image: url("/static/shuttle.png");
  background-size: 150px 72px;
}

/* Animations */
@keyframes appear {
  from {
    transform-origin: center;
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }
  to {
    transform-origin: center;
    transform: none;
    opacity: 1;
  }
}

.appear {
  animation-name: appear;
}
