<head>
  <title>LIT HITS</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <link rel="stylesheet" href="/../static/css/style.css">
</head>
<body>
  <p>Nasa sounds</p>

<script src="https://connect.soundcloud.com/sdk/sdk-3.0.0.js"></script>
<script>
SC.initialize({
  client_id: 'f8902e59eb210853156eacc39a818ce9'
});

// stream track id 293
var snippets = [];
{% for sound in sounds %}
snippets.push({{ sound.id }});
{% endfor %}

console.log(snippets);

$(window).keypress(function(e) {
  console.log(e.which);
  if (e.which === 0 || e.which === 32 || (e.which > 96 && e.which < 123)) {
    if (e.which > 32) {
      SC.stream('/tracks/' + snippets[e.which - 96]).then(function(player) {
        player.seek(750);
        player.play();
      });
    }
    else {
      SC.stream('/tracks/' + snippets[0]).then(function(player) {
        player.seek(750);
        player.play();
      });
    }
  }
});

</script>
</body>
