<head>
  <title>LIT HITS</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
</head>
<body>
  <p>Nasa sounds</p>
  {% for song in sounds %}
<p class="name">Name: {{ song.title }} </p>
<p class="length">Length: {{ song.duration }} </p>
<p class="link">Link: {{ song.stream_url }} </p>
{% endfor %}

<script src="https://connect.soundcloud.com/sdk/sdk-3.0.0.js"></script>
<script>
SC.initialize({
  client_id: 'f8902e59eb210853156eacc39a818ce9'
});

// stream track id 293
var snippets = [];
{% for sound in sounds %}
snippets.push({{ sound.id }});
{% endfor %}

console.log(snippets);

$(window).keypress(function(e) {
  console.log(e.keyCode);
  if (e.keyCode === 0 || e.keyCode === 32 || (e.keyCode > 96 && e.keyCode < 123)) {
    if (e.keyCode > 32) {
      SC.stream('/tracks/' + snippets[e.keyCode - 96]).then(function(player) {
        player.seek(750);
        player.play();
      });
    }
    else {
      SC.stream('/tracks/' + snippets[0]).then(function(player) {
        player.seek(750);
        player.play();
      });
    }
  }
});

</script>
</body>
