<!DOCTYPE html>
<html>
<head>
  <title>NASounds</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <link rel="stylesheet" href="/../static/css/style.css">
</head>
<body>
  <!-- Create audio elements from download links sent from server -->
  BOOM!
  <div class="showrocket" style="transform: rotate(180deg);">the</div>
  <div class="showasteroid" style="transform: rotate(180deg);">the</div>
  <div class="showcosmonaut" style="transform: rotate(180deg);">the</div>
  <div class="showshuttle" style="transform: rotate(180deg);">the</div>
</body>
</html>
